@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-cyber-black text-white antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.bg-grid-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}